## Lista de dados
- Estrutura que permite agrupar varios valores
- Permite agrupar valores de tipos diferentes em uma mesma estrutura
- utiliza colchetes [] e separa os elementos com vírgula

In [ ]:
# Criando um lista

lista_1 = [1,6,10,20]
lista_2  = [4.5, 3.1, 5.0]
lista_3 = ['nota1', 'nota2']
lista_4 = [True, False, False]
lista_5 = [1, 'nata1',2.5,False]
lista_6 = [5,3,[5,2,1]]

### Estrutura
-A estrutura utiliza as posiçoes para armazenar e localizar

In [2]:
lista_6 = [5,3, [5,2,1]]
print(lista_6[2])

[5, 2, 1]

In [3]:
print(lista_6[2][1])

2

In [4]:
lista_1 = [1,6,10,20]
lista_2  = [4.5, 3.1, 5.0]
lista_juncao = lista_1 + lista_2
print(lista_juncao)

[1, 6, 10, 20, 4.5, 3.1, 5.0]

In [5]:
# Tamanho da lista
lista_1 = [1,6,10,20]
print(len(lista_1))

4

In [6]:
# Maior elemento da lista - funçao max
print(max(lista_1))

20

In [8]:
# Maior elemento da lista - funçao min
print(min(lista_1))

1

In [9]:
# Somar todos os elementos da lista -  funçao sum()
print(sum(lista_1))

37

In [10]:
# substituir um elemento da lista, se usa colchetes
lista_1 = [1,6,10,20]
lista_1[1]=15
print(lista_1)

[1, 15, 10, 20]

In [11]:
# Adicionar um elemento a lista -  funçao append()
lista_1 = [1,6,10,20]
lista_1.append(15)
print(lista_1)

[1, 6, 10, 20, 15]

In [13]:
# Inseriendo um novo elemento em um possiçao especifica - funçao insert()
lista_1 = [1,6,10,20]
lista_1.insert(2,50)
print(lista_1)

[1, 6, 50, 10, 20]

In [14]:
# Retornando a posiçao de um elemento  - funçao index()
lista_1 = [1,6,10,20]
print(lista_1.index(10))

2

In [15]:
# Invertendo a ordem dos elemento da lista -  reverse()
lista_1 = [1,6,10,20]
lista_1.reverse()
print(lista_1)

[20, 10, 6, 1]

In [17]:
# Ordenar a ordem da lista - funçao sort()
lista_1 = [11,6,10,20]
lista_1.sort()
print(lista_1)

[6, 10, 11, 20]

### Tuplas
- Estruturas semalhantes a lista mas nao pode ser alterada (imutavel)
- utiliza parenteses para definir e colchetes

In [18]:
tuplas_1 = ("Segunda", "Terça", "Quarta")

In [20]:
# Para acessar um elemento utiliza colchetes
tuplas_1 = ("Segunda", "Terça", "Quarta")
print(tuplas_1[0])

Segunda

In [21]:
#Não é possivel alterar qualquer valor da tupla dispra um erro
tuplas_1[1]= "Quarta"

TypeError: 'tuple' object does not support item assignment

In [24]:
# Converter um tupla em lista - utiliza a funçao list()
tuplas_1 = ("Segunda", "Terça", "Quarta")
lista_resultado = list(tuplas_1)
print(lista_resultado)

['Segunda', 'Terça', 'Quarta']

### Dicionario de dados
- Estrutura de dados composta por chaves e valores
- Utiliza chave {} para a criaçao